<style>
#content-wrapper{
	background-image:url(/assets/img/shelf.jpg);
	background-repeat: repeat-x;
	background-position: 50% 275px;
}
</style>

<div id="home-thumbs" class="row">
	<div class="span3 hidden-phone">
		<center>
			<img src="/assets/img/tom_top.gif" alt=""/>
			<img src="/assets/img/tom_bottom.png" alt=""/>
		</center>
	</div>
	<div class="span9">
				
		<ul class="thumbnails">
		  
		  <li class="span3">
		    <div class="thumbnail">
		      <a href="http://mustachemonitor.com/user/pixelchutes/50958190535e100200000001/" title="Stache$"><img src="http://mustachemonitor.com/user/pixelchutes/50958190535e100200000001/gif" width="150" alt=""/></a>
		      
		      
		    </div>
		  </li>

		<li class="span3">
		    <div class="thumbnail">
		      <a href="http://mustachemonitor.com/user/pixelchutes/509581f3535e100200000005/" title="Famoustache"><img src="http://mustachemonitor.com/user/pixelchutes/509581f3535e100200000005/gif" width="150" alt=""/></a>
		      
		      
		    </div>
		  </li>

		<li class="span3">
		    <div class="thumbnail">
		      <a href="http://mustachemonitor.com/user/pixelchutes/50958228535e100200000009/" title="Stachify"><img src="http://mustachemonitor.com/user/pixelchutes/50958228535e100200000009/gif" width="150" alt=""/></a>
		      
		      
		    </div>
		  </li>

	  <li class="span3">
		    <div class="thumbnail">
		      <a href="http://mustachemonitor.com/user/pixelchutes/50958246535e10020000000d/" title="Stache IT"><img src="http://mustachemonitor.com/user/pixelchutes/50958246535e10020000000d/gif" width="150" alt=""/></a>
		      
		      
		    </div>
		  </li>

<li class="span3">
		    <div class="thumbnail">
		      <a href="http://mustachemonitor.com/user/pixelchutes/50958272535e100200000011/" title="UberStache"><img src="http://mustachemonitor.com/user/pixelchutes/50958272535e100200000011/gif" width="150" alt=""/></a>
		      
		      
		    </div>
		  </li>

<li class="span3">
		    <div class="thumbnail">
		      
<a href="http://mustachemonitor.com/user/pixelchutes/50958293535e100200000015/" title="Mustacheries"><img src="http://mustachemonitor.com/user/pixelchutes/50958293535e100200000015/gif" width="150" alt=""/></a>
		      
		      
		    </div>
		  </li>
		  
		</ul>



	</div>
</div>
