<style>
#content-wrapper{
	background-image:url(/assets/img/shelf.jpg);
	background-repeat: repeat-x;
	background-position: 50% 275px;
}
</style>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row">
	<div class="span3 hidden-phone">
		<center><img src="/assets/img/iphone5_tom.png" alt=""/></center>
	</div>
	<div class="span9">
				
		<ul class="thumbnails">
		  
		  <li class="span3">
		    <div class="thumbnail">
		      <a href="#"><img src="/assets/img/anchorman.jpg" alt="" /></a>
		      
		      
		    </div>
		  </li>

		<li class="span3">
		    <div class="thumbnail">
		      <a href="#"><img src="/assets/img/anchorman.jpg" alt="" /></a>
		      
		      
		    </div>
		  </li>

		<li class="span3">
		    <div class="thumbnail">
		      <a href="#"><img src="/assets/img/anchorman.jpg" alt="" /></a>
		      
		      
		    </div>
		  </li>

	  <li class="span3">
		    <div class="thumbnail">
		      <a href="#"><img src="/assets/img/anchorman.jpg" alt="" /></a>
		      
		      
		    </div>
		  </li>

<li class="span3">
		    <div class="thumbnail">
		      <a href="#"><img src="/assets/img/anchorman.jpg" alt="" /></a>
		      
		      
		    </div>
		  </li>

<li class="span3">
		    <div class="thumbnail">
		      <a href="#"><img src="/assets/img/anchorman.jpg" alt="" /></a>
		      
		      
		    </div>
		  </li>
		  
		</ul>



	</div>
</div>
