<h1>Animation Upload</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="hidden" name="origin" value="web" />
    <input type="hidden" name="isGif" value="true" />
    <input type="file" name="displayImage" />
    <p>Title: <input type="text" name="title" /></p>
    <input type="submit" value="Upload" />
</form>
