<div class="page-header">
	<h1>
		Jerry's Extramanly Stache
		<small>Nov 3<sup>rd</sup>, 2012</small>
	</h1>
</div>

<div class="row">

	<div class="span8">
		<div id="animation">
			<img src="/assets/img/anchorman.gif" alt="" />
		</div>
		<hr/>
		<div class="row">
			<div class="span3">
			
<!-- 
			</div>
			<div class="span7"> -->

				<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check this out:" data-via="mustachemonitor" data-size="large" data-hashtags="ShareYourStache">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

				<div class="fb-send" data-href="{{url}}"></div>
			</div>
			<div class="span5">
				<a href="#" class="pull-right btn btn-large btn-info">Random Stache <i class="icon-white icon-chevron-right"></i></a>
			</div>
		</div>

	</div>

	<div id="ads" class="span4">
		<img src="/assets/img/ad1.png" />
		<img src="/assets/img/ad2.png" />
		<img src="/assets/img/ad3.png" />
	</div>

</div>